@media screen and (min-width: 458px) {
    .container {
        max-width: 428px;
    }
}

@media screen and (min-width: 768px) {

    .mobile-menu {
        display: none;
    }

    .mobile-menu-btn {
        display: none;
    }

    .container {
        max-width: 768px;
    }


    .menu-item {
        display: inline-block;
    }

    .menu-link {
        display: ;
    }

    .adress-header {
        display: inline-block;

    }

    .adress-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .cont-link {
        font-size: 12px;
        line-height: 1.16;
    }

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/herobg-tablet.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2ddpx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/herobg-tablet-2x.jpg);
            ;
        }
    }

    .main-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }

    .quality-list {
        row-gap: 72px;
        column-gap: 24px;
        text-align: left;
    }

    .quality-titles {
        max-width: 356px;
    }

    .team-list {
        padding: 0;
    }

    .customers-list {
        gap: 72px 24px;
    }

    .customers-list-item {
        width: calc((100% - 48px) / 3);
    }

    .footer-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .footer-logo-div {
        align-items: flex-start;
        margin-right: 24px;
    }

    .footer-soc-div {
        align-items: flex-start;
        margin-left: 0;
    }

    .footer-subscribe-div {
        align-items: normal;
        margin-left: 119px;
    }

    .footer-subscribe-form {
        flex-direction: row;
        align-items: normal;
        justify-content: normal;

    }

    .footer-subscribe-label {}

    .footer-subscribe-input {
        max-width: 264px;
        margin-right: 24px;
    }
}

@media screen and (min-width: 1158px) {

    .mobile-menu {
        display: none;
    }

    .mobile-menu-btn {
        display: none;
    }

    .container {
        max-width: 1158px;
    }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .menu-item {
        display: normal;
    }

    .adress-header {}

    .adress-list {
        flex-direction: row;
        gap: 40px;
    }

    .cont-link {
        font-size: 16px;
        line-height: 1.5;
    }

    .hero {

        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/herobg.jpg);
        padding-top: 188px;
        padding-bottom: 188px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2ddpx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/herobg-pc-2x.jpg);
            ;
        }
    }

    .main-title {
        margin-bottom: 48px;
    }

    .quality-list {
        gap: 24px;
        flex-wrap: nowrap;
    }

    .quality-titles {
        max-width: 264px;
    }

    .quality-icons-cont {
        display: flex;
    }

    .quality-little-title {
        font-size: 20px;
        line-height: 1.2;
    }

    .facil-section {
        display: block;
        padding-bottom: 120px;
    }

    .team-container {
        width: 100%;
        max-width: 1440px;
    }

    .team-list {
        gap: 24px;
    }

    .customers-list-item {
        width: calc((100% - 120px) / 6);
    }

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
    }

    .footer-logo-div {
        margin-left: 0;
        margin-bottom: 0;
        margin-right: 120px;
    }

    .footer-soc-div {
        margin-bottom: 0;
        margin-right: 80px;
    }

    .footer-subscribe-div {
        margin-left: 0;
        margin-right: 0;
        max-width: 453px;
    }

    .footer-subscribe-form {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 16px;
        max-width: 453px;
    }



}